/*NAVBAR*/

.navbar-custom {
    font-family: 'Trirong';
    font-size: 18px;
    max-width: 1170px;
    margin: auto;
    border-radius: 0;
}
.navbar-custom h1 {
    font-weight: 700;
    margin: 0;
}
.navbar-custom nav {
    display: flex;
    justify-content: flex-end;
}
.navbar-custom p {
    padding: 0 20px;
    margin: 0;
}
.navbar-right {
    padding-top: 15px;
    padding-right: 20px;
}
.navbar-brand img {
    position: relative;
    max-height: 100px;
    padding-bottom: 20px;
    margin: 0px;
}
.navp {
    color: #2b74bf;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 900;
}
.nav ul {
    position: relative 30px;
}

/*HEADER*/

.header {
    background-color: darkgray;
    padding: 0px;
}
.header .carousel-inner > .item > img,
.header .carousel-inner > .item > a > img {
    margin: auto;
    height: 300px;
}

/*MIDDLE*/

#map {
    height: 400px;
    width: 100%;
    border: solid black 15px;
}

/*FOOTER*/

.footer {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 10px;
}
.priredio {
    margin: 0px;
}

/*BODY*/

body {
    background-color: silver;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    padding: 10px;
}
.flex-child {
    flex: 1 1 240px;
    min-height: 180px;
    padding: 10px;
    background-color: dimgrey;
    margin: 5px;
    color: whitesmoke;
}
.flex-child strong {
    color: black;
}
div h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    font-family: 'Trirong'
}
div h3 {
    text-align: center;
    font-family: 'Trirong'
}
div p {
    text-align: center;
    font-size: 14px;
    font-family: 'Trirong'
}
.container {
    font-family: "Trirong";
}

/*END*/
