/*NAVBAR*/
.navbar {
    background-color: #ffffff;
    border: none;
}
.navbar-custom {
    font-family: 'Trirong';
    font-size: 18px;
    max-width: 1170px;
    margin: auto;
    border-radius: 0;
}
.navbar-custom h1 {
    font-weight: 700;
    margin: 0;
}
.navbar-custom nav {
    display: flex;
    justify-content: flex-end;
}
.navbar-custom p {
    padding: 0 20px;
    margin: 0;
}
.navbar-right {
    padding-top: 15px;
    padding-right: 20px;
}
.navbar-brand img {
    position: relative;
    max-height: 100px;
    padding-bottom: 20px;
    margin: 0px;
}
.navp {
    color: #2a73be;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 900;
}
.nav ul {
    position: relative 30px;
}

/*HEADER*/

.header {
    background-color: #ffffff;
    padding: 10px;
}

.header .carousel-inner > .item > img,
.header .carousel-inner > .item > a > img {
    margin: auto;
    height: 300px;
}

/*MIDDLE*/

#map {
    height: 400px;
    width: 100%;
    border: solid #2a73be 15px;
}

.usluge {
    color: #2a73be;
}
.usluge h2 {
    font-size: 2.5em;
    text-decoration: underline;
    text-align: center;
}
.usluge > p{
    font-size: 1.5em;
}
.usluge > ul{
    font-size: 1.5em;
}

/*FOOTER*/

.footer {
    padding: 10px;
}
.priredio {
    margin: 0px;
}

/*BODY*/

body {
    background-color: white;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    background-color: white;
    padding: 10px;
}
.flex-child {
    flex: 1 1 240px;
    min-height: 180px;
    padding: 10px;
    border: 3px solid #ff332f;
    background-color: #2a73be;
    margin: 5px;
    color: whitesmoke;
}
.flex-child strong {
    color: #ff332f;
}
div h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    font-family: 'Trirong'
}
div h3 {
    text-align: center;
    font-family: 'Trirong'
}
div p {
    text-align: center;
    font-size: 14px;
    font-family: 'Trirong'
}
.container {
    font-family: "Trirong";
}

.onama {
    border-top: 3px solid #ff332f;
}

.onama h2, h3 {
    text-align: center;
    color: #2a73be;
}

.onama p {
    font-size: 2em;
    font-weight: bold;
    color: #ff332f;
}

/*END*/
